Flask==2.3.2
uwsgi
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp
opentelemetry-exporter-opencensus
grpcio
opencensus-proto
opentelemetry-api
opentelemetry-sdk

